<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" id="theme"
		  th:href="@{/v2/css/theme-default.css}" />
	<link rel="stylesheet" type="text/css"
		  th:href="@{/v2/css/jqueryDatatable.css}" />
</head>
<body>
<form role="form" th:action="@{/capitalFlowOrder/pageList}" id="formpro"
	  class="form-horizontal">
	<div class="block no-col-padding" style="margin-bottom: 0;">
		<div class="form-group col-md-12 btn-form" style="text-align: left;">
			<button type="button" id="export" class="btn btn-info">导出excel</button>
			<a style="display: none"
			   th:href="@{/capitalFlowOrder/capitalFlowOrderPageListExport}"
			   id="exportExcel">导出</a>
		</div>
		<div class="form-group col-md-4">
			<label class="col-md-4 control-label">订单号：</label>
			<div class="col-md-8">
				<input type="text" id="searchOrderId" name="searchOrderId" th:value="${searchOrderId}"/>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label class="col-md-4 control-label">手机：</label>
			<div class="col-md-8">
				<input type="text" id="userPhone" name="userPhone" th:value="${userPhone}"/>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label class="col-md-4 control-label">姓名：</label>
			<div class="col-md-8">
				<input type="text" id="userName" name="userName" th:value="${userName}"/>
			</div>
		</div>
		<div class="form-group col-md-4 min-w330">
			<label class="col-md-4 control-label">还款时间</label>
			<div class="col-md-8">
				<input name="startDate" id="startDate" th:value="${startDate}"
					   type="text" class="required"
					   style="width: 45%; float: left; padding: 6px 9px;"
					   onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}',minDate:'#F{$dp.$D(\'endDate\',{d:-30})}'})"
					   title="请输入开始日期" size="30"/><span class="line">-</span><input
					name="endDate" style="width: 45%; float: left; padding: 6px 9px;"
					id="endDate" th:value="${endDate}" type="text" class="required"
					onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate\')||\'%y-%M-%d\'}',maxDate:'#F{$dp.$D(\'startDate\',{d:30})||\'%y-%M-%d\'}'})"
					title="请输入截止日期" size="30"/>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label class="col-md-4 control-label">还款单号：</label>
			<div class="col-md-8">
				<input type="text" id="refundNoOrder" name="refundNoOrder" th:value="${refundNoOrder}"/>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label class="col-md-4 control-label">状态：</label>
			<div class="col-md-8">
				<select id="searchType" name="searchType" th:value="${searchType}">
					<option value ="0" th:selected="${searchType} == 0"> </option>
					<option value ="1" th:selected="${searchType} == 1">还款成功</option>
					<option value ="2" th:selected="${searchType} == 2">已退款</option>
				</select>
			</div>
		</div>
		<div class="form-group col-md-11 btn-form" style="text-align: right;">
			<button type="submit" class="btn btn-info" id="queryOperate">查询</button>
		</div>
	</div>
	<input id="sortColumn" name="sortColumn" th:value="${sortColumn}" type="hidden"/>
	<input id="sortFlag" name="sortFlag" value="0" type="hidden"/>
</form>
<div class="panel-body">

	<table class="table" id="bigDataList">
		<thead>
		<tr>
			<th onclick="doSort('orderId','sortFlag')">订单号</th>
			<th onclick="doSort('userName','sortFlag')">姓名</th>
			<th onclick="doSort('userPhone','sortFlag')">手机号</th>
			<th onclick="doSort('moneyAmount','sortFlag')">借款金额</th>
			<th onclick="doSort('penaltyAmount','sortFlag')">违约金</th>
			<th onclick="doSort('planLateFee','sortFlag')">滞纳金</th>
			<th onclick="doSort('reqAmt','sortFlag')">还款金额</th>
			<th>累计应还金额</th>
			<th onclick="doSort('ceditAmount','sortFlag')">累计减免金额</th>
			<th onclick="doSort('repaymentedAmount','sortFlag')">累计已还金额</th>
			<th onclick="doSort('payType','sortFlag')">还款类型</th>
			<th onclick="doSort('updateTime','sortFlag')">还款时间</th>
			<th onclick="doSort('paymentChannel','sortFlag')">资方</th>
			<th style="min-width: 120px;">还款单号</th>
			<th onclick="doSort('repaymentType','sortFlag')">还款方式</th>
			<th onclick="doSort('rpaymentChannel','sortFlag')">还款渠道</th>
			<th>退款金额</th>
			<th onclick="doSort('creatTime','sortFlag')">退款时间</th>
			<th onclick="doSort('type','sortFlag')">状态</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="page,iterStat:${pageInfo.list}">
			<td th:text="${page.orderId}"></td>
			<td th:text="${page.userName}"></td>
			<td th:text="${T(com.inext.utils.DataFormat).getUserPhoneNo(page.userPhone)}"></td>
			<td th:text="${page.moneyAmount}"></td>
			<td th:text="${page.penaltyAmount}"></td>
			<td th:text="${page.planLateFee}"></td>
			<td th:text="${page.repaymentAmount}"></td>
			<td th:text="${page.ceditAmount}"></td>
			<td th:text="${page.reqAmt}"></td>
			<td th:text="${page.repaymentedAmount}"></td>
			<td th:text="${page.payType==1?'还款':'续期'}"></td>
			<td th:text="${page.updateTime==null?'':#dates.format(page.updateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			<td th:text="${paymentChannels[page.paymentChannel]}"></td>
			<td th:text="${page.noOrder}"></td>
			<td th:text="${repaymentTypeMap[page.repaymentType]}"></td>
			<td th:text="${repaymentChannelMap[page.repaymentChannel]}"></td>
			<td th:text="${page.amount}"></td>
			<td th:text="${page.creatTime==null?'':#dates.format(page.creatTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			<td th:text="${page.type==0?'还款成功':'已退款'}"></td>
			<td>
				<a th:text="${page.type==0?'退款':'详情'}"
				   href="#" th:onclick="${'assetRepaymented('''+(page.orderId)+''' ,'''+(page.repaymentAmount)+''' ,'''+page.userName+''','''+page.bankName+''','''+page.cardCode+''','''+page.issue+'''
                   ,'''+page.userId+''','''+page.refundOrderNo+''','''+page.refundChannel+''','''+page.refundBank+''','''+page.refundCardNo+''','''+page.amount+''','''+page.remark+''','''+page.repaymentChannel+''','''+(page.noOrder)+''','+page.type+')'}"></a>
				<a href="#" th:onclick="${'assetRenewal('+page.orderId+','''+(page.userId)+''')'}">添加</a>
			</td>

		</tr>
		</tbody>
	</table>
	<div class="message-box animated fadeIn" data-sound="alert" id="box">
		<div class="nav col-md-8 nav-ul" style="left: 18%; top: 16%;">
			<form action="" id="abnormalAmountForm">
				<input type="hidden" name="userId" id="userId"/>
				<input type="hidden" name="repaymentChannel" id="repaymentChannel"/>
				<input type="hidden" name="repaymentAmount" id="repaymentAmount"/>
				<input type="hidden" name="noOrder" id="noOrder"/>
				<table class="openBox"  style="border-bottom:rgba(34,0,0,0.3) solid 1px;text-align: left;border-radius: 0px 0px 0px 0px;">
					<tr style="text-align: left">
						<td style="text-align: left"> <span style="font-size:20px;margin-left: 25px">  客户信息</span></td>
					</tr>
				</table>
				<table class="openBox" style="border-radius: 0px 0px 0px 0px;">
					<tr>
						<td class="td-left">退款用户</td>
						<td class="td-right">
							<input type="text" name="refundUserName" id="refundUserName" disabled="true"
								   style="background-color: #fbf9ee"/>
						</td>
						<td class="td-left">订单号</td>
						<td class="td-right"><input name="orderId" id="orderId" type="text"
													readonly="readonly" style="background-color: #fbf9ee"/></td>

					</tr>
					<tr>
						<td class="td-left">绑定银行</td>
						<td class="td-right"><input type="text" name="bindBank" id="bindBank" readonly="readonly"
													style="background-color: #fbf9ee"/></td>
						<td class="td-left">绑定银行账号</td>
						<td class="td-right">
							<input type="text" name="bindCardNo" id="bindCardNo" readonly="readonly"
								   style="background-color: #fbf9ee"/>
						</td>

					</tr>
				</table>
				<table class="openBox"  style="border-bottom:rgba(34,0,0,0.3) solid 1px;border-top:rgba(34,0,0,0.3) solid 1px;text-align: left;border-radius: 0px 0px 0px 0px;">
					<tr style="text-align: left">
						<td style="text-align: left"> <span style="font-size:20px;margin-left: 25px">  退款信息</span></td>
					</tr>
				</table>
				<table class="openBox" style="border-radius: 0px 0px 0px 0px;">
					<tr>
						<td class="td-left" style="width: 50px">电子回执单号<font color="red">*</font></td>
						<td class="td-right" colspan="2" style="width: 100px"><input type="text" name="repaymentOrderNo"
																					 id="repaymentOrderNo" placeholder="请输入电子回执单号"/></td>
						<td class="td-left" style="width: 50px">退款金额(元)<font color="red">*</font></td>
						<td class="td-right" colspan="2" style="width: 100px"><input type="text" id="repaymentAmounted"
																					 name="repaymentAmounted"
																					 placeholder="请输入退款金额"/></td>
					</tr>
					<tr>
						<td class="td-left">退款账号（客户）<font color="red">*</font></td>
						<td class="td-right" colspan="2"><input type="text" id="refundCardNo" name="refundCardNo"
																placeholder="请输入退款帐号"/></td>
						<td class="td-left">退款原因<font color="red">*</font></td>
						<td class="td-right">
							<select id="issue" name="issue" >
								<option value ="1" >重复扣款</option>
								<option value ="2" >扣款后续期</option>
								<option value ="3" >其他</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td-left">退款渠道（客户）<font color="red">*</font></td>
						<td class="td-right" colspan="2">
							<select name="refundChannel" id="refundChannel"  placeholder="请选则退款渠道" onchange="gradeChange()">
								<option value="1">汇潮</option>
								<option value="2">银行</option>
							</select>
						</td>
						<td class="td-left" id="ftd" style="display: none">退款银行（客户）<font color="red">*</font></td>
						<td class="td-right" colspan="2" style="display: none" id="std">
							<select name="refundBank" id="refundBank"  placeholder="请选则退款银行">
								<option value="0"></option>
								<option th:each="bankInfo,iterStat:${bankAllInfo}" th:value="${bankInfo.bankCode}" th:text="${bankInfo.bankName}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td-left">备注</td>
						<td class="td-right" colspan="3">
								<textarea rows="5" cols="10"
										  id="remark" name="remark" style="width:100%;padding: 6px 14px;"></textarea>
						</td>
					</tr>

				</table>
				<table class="openBox"  style="border-bottom:rgba(34,0,0,0.3) solid 0px;border-top:rgba(34,0,0,0.3) solid 0px;text-align: left;border-radius: 0px 0px 0px 0px;">
					<tr align="center">
						<td colspan="2">
							<button type="button" class="btn btn-success success" onclick="dosubmit()" style="padding-right: 10px;">保存</button>
							<button type="button" class="btn btn-default active" >关闭</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<div class="message-box animated fadeIn" data-sound="alert" id="underLineBox">
		<div class="nav col-md-8 nav-ul" style="left: 18%; top: 16%;">
			<form role="form"  id="underLineAmountForm">
				<input type="hidden" name="userPayId" id="userPayId"/>
				<input type="hidden" name="orderPayId" id="orderPayId"/>
				<div style="margin-bottom: 0;background-color: white;height: 40px"></div>
				<div class="block no-col-padding" style="margin-bottom: 0;background-color: white">
					<div class="form-group col-md-4">
						<label class="col-md-4 control-label"><font color="red">*</font>还款金额(元)：</label>
						<div class="col-md-8">
							<input type="text" name="underRepaymentAmounted" id="underRepaymentAmounted" placeholder="请输入还款金额"/>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="col-md-4 control-label">本次减免金额(元)：</label>
						<div class="col-md-8">
							<input type="text" id="ceditAmount" name="ceditAmount" placeholder="请输入减免金额"/>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="col-md-4 control-label"><font color="red">*</font>还款单号：</label>
						<div class="col-md-8">
							<input type="text" name="underLinsaveAbnormaleRepaymentOrderNo" id="underLineRepaymentOrderNo" placeholder="请输入还款单号"/>
						</div>
					</div>
					<div class="form-group col-md-4 min-w330" style="margin: 1px;">
						<label class="col-md-4 control-label"><font color="red">*</font>还款渠道：</label>
						<div class="col-md-8">
							<select name="repaymentType" id="repaymentType"  placeholder="请选则退款方式" onchange="underLineGradeChange()">
								<option value="1">支付宝</option>
								<option value="2">银行卡对公</option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-4" style="display: none" id="underLineTd">
						<label class="col-md-4 control-label">还款银行：</label>
						<div class="col-md-8">
							<select name="underLineRefundBank" id="underLineRefundBank"  placeholder="请选则退款银行">
								<option value="0"></option>
								<option th:each="bankInfo,iterStat:${bankAllInfo}" th:value="${bankInfo.bankCode}" th:text="${bankInfo.bankName}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="block no-col-padding" style="margin-bottom: 0;background-color: white">
					<div class="form-group col-md-4" style="width: 84%;">
						<label class="col-md-4 control-label" style="width: 13%;">备注：</label>
						<div class="col-md-8">
							<textarea rows="5" cols="20" id="underRemark" name="underRemark" style="width:100%;padding: 6px 14px;"></textarea>
						</div>
					</div>
				</div>
				<div style="margin-bottom: 0;background-color: white;height: 40px"></div>
				<table class="openBox"  style="border-bottom:rgba(34,0,0,0.3) solid 0px;border-top:rgba(34,0,0,0.3) solid 0px;text-align: left;border-radius: 0px 0px 0px 0px;">
					<tr align="center">
						<td colspan="2">
							<button type="button" class="btn btn-success underLineSuccess" onclick="doUnderLinesubmit()" style="padding-right: 10px;">保存</button>
							<button type="button" class="btn btn-default underLineActive" >关闭</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>


	<table width="95%" border="0" align="center" cellpadding="0"
		   cellspacing="0">
		<tr>
			<td height="33">
				<table width="100%" border="0" align="center" cellpadding="0"
					   cellspacing="0" class="right-font08">
					<tr>
						<td align="left" class="td2"
							th:if="${not #lists.isEmpty(pageInfo)}"
							th:text="   ${'共'+pageInfo.total+ '条'}"></td>
						<td align="right" class="td2" id="pageFooter"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
</body>
<script type="text/javascript" th:src='@{/v2/js/jquery.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/jquery-ui.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrap.min.js}'></script>
<script type='text/javascript' th:src='@{/v2/js/icheck.min.js}'></script>
<script type="text/javascript"
		th:src="@{/v2/js/jquery.mCustomScrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-select.js}"></script>
<script type="text/javascript"
		th:src="@{/v2/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/actions.js}"></script>
<script type="text/javascript"
		th:src="@{/v2/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/common.js}"></script>
<script th:src="@{/js/page/create-page.js}" type="text/javascript"></script>
<script th:src="@{/js/My97DatePicker/WdatePicker.js}"
		type="text/javascript"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        $("#pageFooter").html(createPager([[${pageInfo}]], "formpro"));
        $("#orderStatus").val([[${orderStatus}]]);
        $("#export").click(function () {
            var exportExcel = document.getElementById("exportExcel");
            var href = exportExcel.href;
            exportExcel.href = href + '?' + $("#formpro").serialize();
            exportExcel.click();
            exportExcel.href = href;
        });
        $("#queryOperate").click(function(){
            /*<![CDATA[*/
            var searchOrderId = $("#searchOrderId").val();
            if(isNaN(searchOrderId)){
                alertPopup("订单号必须为数字!");
                return;
            }
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if (startDate == null || startDate == "") {
                alert("开始时间不能为空");
                return false;
            }
            if (endDate == null || endDate == "") {
                alert("结束时间不能为空");
                return false;
            }
            //时间不大于7天
            //console.log(startDate+","+endDate);
            var d1 = new Date(startDate);
            var d2 = new Date(endDate);
            //console.log(parseInt(d2 - d1) /1000/60/60/24);//两个时间相差的小时数
            var d3=parseInt(d2 - d1) /1000/60/60/24;
            if(d3>30){
                alert("查询范围不能超过10天");
                return false;
            }else{
                $("#formpro").submit();
            }
        });
    });

    function gradeChange(){
        var refundChannel=  $("#refundChannel").val();
        if(refundChannel==2){
            $("#ftd").show();
            $("#std").show();
        }
        if(refundChannel==1){
            $("#ftd").hide();
            $("#std").hide();
        }
    }

    function underLineGradeChange(){
        var repaymentType=  $("#repaymentType").val();
        if(repaymentType==2){
            $("#underLineTd").show();
            $("#underLineStd").show();
        }
        if(repaymentType==1){
            $("#underLineTd").hide();
            $("#underLineStd").hide();
        }
    }

    function doUnderLinesubmit() {
        if (!confirm("已确认信息无误!")) return;
        var repaymentAmounted = $("#underRepaymentAmounted").val();
        if (repaymentAmounted == '') {
            alertPopup("还款金额不能为空!");
            return;
        }

        if(isNaN(repaymentAmounted)){
            alertPopup("还款金额必须是数字!");
            return;
        }

        if(repaymentAmounted<0){
            alertPopup("还款金额必须大于等于0!");
            return;
        }

        var ceditAmount=$("#ceditAmount").val();

        if(ceditAmount!=''){

            if(isNaN(ceditAmount)){
                alertPopup("减免金额必须是数字!");
                return;
            }

            if(ceditAmount<0){
                alertPopup("减免金额必须大于等于0!");
                return;
            }

        }
        var data = {
            userId: $("#userPayId").val(),
            orderId: $("#orderPayId").val(),
            trueRepaymentMoney: repaymentAmounted,
            ceditAmount: ceditAmount,
            repaymentType: $("#repaymentType").val(),
            remark: $("#underRemark").val(),
            bankName:$("#underLineRefundBank").val(),
            repaymentOrderNo: $("#underLineRepaymentOrderNo").val()
        }
        var url=[[@{/capitalFlowOrder/saveAssetRepaymentDetail}]];
        $.ajax({
            type   : "post",
            data   : data,
            url    : url,
            success: function (resp) {
                alertPopup(resp.message,function(){
                    location.href = '/capitalFlowOrder/pageList';
                });
            }
        });
    }
    function dosubmit() {
        if (!confirm("已确认退款信息无误!")) return;
        var repaymentAmounted = $("#repaymentAmounted").val();
        if (repaymentAmounted == '' || repaymentAmounted == null ) {
            alertPopup("退款款金额不能为空!");
            return false;
        }

        if (isNaN(repaymentAmounted)) {
            alertPopup("退款金额必须是数字!");
            return false;
        }

        if (repaymentAmounted < 0 ) {
            alertPopup("退款金额必须大于等于0!");
            return false;
        }
        var repaymentOrderNo = $("#repaymentOrderNo").val();
        if (repaymentOrderNo == ''|| repaymentOrderNo == null ) {
            alertPopup("电子回执单号不能为空!");
            return false;
        }

        var refundChannel = $("#refundChannel").val();
        if (refundChannel == '' || refundChannel == null) {
            alertPopup("退款渠道不能为空!");
            return false;
        }

        var refundBank = $("#refundBank").val();

        if (refundChannel == 1 ) {
            refundBank="huiChao";
        }else{
            if (refundBank == 0  ) {
                alertPopup("退款银行不能为空!");
                return false;
            }
		}
        // var refundCardNo = $("#refundCardNo").val();
        // if (refundCardNo == '') {
        //     alertPopup("退款银行账号（客户）不能为空!");
        //     return;
        // }
        var issue = $("#issue").val();
        if (issue == '' || issue == null ) {
            alertPopup("退款原因不能为空!");
            return false;
        }

        var state = $('#state').is(':checked') ? 1 : 0;
        var data = {
            orderId: $("#orderId").val(),
            userId: $("#userId").val(),
            userName: $("#refundUserName").val(),
            repaymentOrderNo: $("#noOrder").val(),
            bank: $("#bindBank").val(),
            cardCode: $("#bindCardNo").val(),
            issue: $("#issue").val(),
            refundOrderNo: $("#repaymentOrderNo").val(),
            refundChannel:refundChannel,
            refundBank: refundBank,
            refundCardNo: $("#refundCardNo").val(),
            amount: $("#repaymentAmounted").val(),
            remark: $("#remark").val(),
            repaymentChannel:$("#repaymentChannel").val(),
            repaymentMoney:$("#repaymentAmount").val(),
        }
        var url = [[@{/capitalFlowOrder/saveAbnormal}]];
        $.ajax({
            type: "post",
            data: data,
            url: url,
            success: function (resp) {
                alertPopup(resp.message, function () {
                    location.href = '/capitalFlowOrder/pageList';
                });
            }
        });
    }



    function assetRenewal(orderId,userId){
        $("#underLineBox").addClass("show");
        cleanAll("underLineAmountForm");
        $("#orderPayId").val(orderId);
        $("#userPayId").val(userId);
    }
    $(".underLineActive").click(function () {
        $("#underLineBox").removeClass("show");
    })

    function assetRepaymented(orderId,repaymentAmount, userName, bankName, cardCode, issue, userId, refundOrderNo,refundChannel, refundBank, refundCardNo, amount, remark,repaymentChannel,noOrder, type
    ) {
        $("#box").addClass("show");
        cleanAll("abnormalAmountForm");
        if (type == 1) {
            $(".success").hide();
            if(refundOrderNo==null){
                refundOrderNo="";
            }
            if(amount==null){
                amount="";
            }
            if(refundCardNo==null){
                refundCardNo="";
            }
            if(remark==null){
                remark="";
            }
            $("#repaymentOrderNo").val(refundOrderNo);
            $("#repaymentOrderNo").attr("style", "background-color: #fbf9ee");
            $("#repaymentOrderNo").attr("readonly",true);
            $("#repaymentAmounted").val(amount);
            $("#repaymentAmounted").attr("readonly",true);
            $("#repaymentAmounted").attr("style", "background-color: #fbf9ee");
            $("#refundChannel").val(refundChannel);
            $("#refundChannel").attr("disabled","disabled")
            $("#refundChannel").attr("style", "background-color: #fbf9ee");
            $("#refundBank").val(refundBank);
            $("#refundBank").attr("disabled","disabled")
            $("#refundBank").attr("style", "background-color: #fbf9ee");
            $("#refundCardNo").val(refundCardNo);
            $("#refundCardNo").attr("readonly",true);
            $("#refundCardNo").attr("style", "background-color: #fbf9ee");
            $("#remark").val(remark);
            $("#remark").attr("readonly",true);
            $("#remark").attr("style", "background-color: #fbf9ee");
            $("#issue").val(issue);
            $("#issue").attr("disabled","disabled")
            $("#issue").attr("style", "background-color: #fbf9ee");
            if(refundChannel==2){
                $("#ftd").show();
                $("#std").show();
            }
        }
        if(type == 0){
            $(".success").show();
            $("#repaymentOrderNo").attr("style", "background-color: whitesmoke");
            $("#repaymentOrderNo").attr("readonly",false);
            $("#repaymentAmounted").attr("readonly",false);
            $("#repaymentAmounted").attr("style", "background-color: whitesmoke");
            $("#refundChannel").removeAttr("disabled");
            $("#refundChannel").attr("style", "background-color: whitesmoke");
            $("#refundBank").removeAttr("disabled");
            $("#refundBank").attr("style", "background-color: whitesmoke");
            $("#refundCardNo").attr("readonly",false);
            $("#refundCardNo").attr("style", "background-color: whitesmoke");
            $("#remark").attr("readonly",false);
            $("#remark").attr("style", "background-color: whitesmoke");
            $("#issue").removeAttr("disabled");
            $("#issue").attr("style", "background-color: whitesmoke");
        }
        $("#refundUserName").val(userName);
        $("#orderId").val(orderId);
        $("#bindBank").val(bankName);
        $("#bindCardNo").val(cardCode);
        $("#userId").val(userId);
        $("#repaymentChannel").val(repaymentChannel);
        $("#repaymentAmount").val(repaymentAmount);
        $("#noOrder").val(noOrder);
    }
    $(".active").click(function () {
        $("#box").removeClass("show");
    })
    /*]]>*/
</script>
</html>
